.App {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

.home-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.home-container--title {
  color: #000;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.home-container--title::after {
  content: "";
  width: 100px;
  height: 2px;
  background-color: #000;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
