.show-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}

.show-container .show-info {
  display: flex;
  align-items: center;
  justify-items: space-between;
  text-align: center;
  padding-bottom: 50px;
}

.show-container .show-info .show-image,
.show-container .show-info .show-description {
  flex-basis: 50%;
  max-width: 50%;
}

.show-container .show-info .show-image img {
  max-width: 300px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.1));
}

.show-container .show-info .show-description p {
  font-style: 25px;
}
.show-container .show-info .show-description b {
  font-weight: 500;
}
.show-container .show-series {
  padding-bottom: 20px;
}

.show-container .show-box {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  color: #000;
  margin-top: 20px;
}
.show-container .show-box .title {
  padding-bottom: 20px;
}

.show-container .show-box .box-list {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: wrap;
}
.show-container .show-box .box-list .box-item {
  flex-basis: calc(20% - 20px);
  flex-basis: calc(20% - 20px);
  margin: 0 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  position: relative;
}

.show-container .show-box .box-list .box-item .image {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.show-container .show-box .box-list .box-item .image img {
  width: 100%;
}
.show-container .show-box .box-list .box-item .image .hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.3s;
}
.show-container .show-box .box-list .box-item:hover .image .hidden {
  opacity: 1;
}
.show-container .show-box .box-list .box-item:hover .name {
  opacity: 0;
}
.show-container .show-box .box-list .box-item:hover .name-hidden {
  opacity: 1;
}
.show-container .show-box .box-list .box-item .crew-name {
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  color: #000;
}
.show-container .show-box .box-list .box-item .name,
.show-container .show-box .box-list .box-item .name-hidden {
  padding-top: 5px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  color: #000;
  transition: 0.2s;
}
.show-container .show-box .box-list .box-item .name-hidden {
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: inline-block;
  opacity: 0;
}
.show-container .show-box .box-list .crew-box{
  transition: 0.3s;
}
.show-container .show-box .box-list .crew-box:hover{
  opacity: 0.6;
}