.random-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.random-list .single-item {
  flex-basis: 200px;
  max-width: 200px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.random-list .single-item:active {
  transform: scale(0.95);
}
.random-list .single-item:hover .hidden-content {
  transform: translateY(0);
}
.random-list .single-item:hover .hidden-content p {
  opacity: 1;
}
